---
import TestReact from "../components/test";
import RadarChartfrom from "../components/radarChart";

import Mail from "../components/mail.astro";
import Github from "../components/Github.astro"
import Instagram from "../components/Instagram.astro"
import Twitter from "../components/Twitter.astro"

import Layout from "../layouts/global.layout.astro";

const projet1 = await  Astro.glob("./projects/argos.md");
const projet2 = await Astro.glob("./projects/datavizEsperanceVieUe.md");
const projet3 = await Astro.glob("./projects/scopra.md");

---
<Layout>
  <style>
    .imgMain {
      overflow: hidden;
    }

    .cardColor {
      background-color: #353e4e !important;
    }

    .btnColor {
      background: #ff824b m !important;
    }

    .bg-projects {
      background-image: url("/img/home/projetcs50.webp") !important;
      background-size: cover !important;
      background-position: right !important;
      background-repeat: no-repeat !important;
    }
  </style>

  <!-- IMAGES POSITIONS ABSOLUTE -->
  <img
    class="absolute top-[5vh] sm:top-[-18vh] lg:top-[-12vh] imgMaib w-full lg:w-9/12 opacity-50 lg:opacity-100 z-[-100]"
    src="img/home/home.webp"
    alt=""
  />
  <!-- <img
    class="hidden absolute imgMain opacity-50 lg:block z-[-100] top-[100vh] left-[-40vw]"
    src="img/home/projetcs.webp"
    alt=""
  /> -->

  <!-- hero section -->
  <section
    class="pl-[5vw] pr-[5vw] xl:min-h-[100vh] flex flex-col items-end"
    id="home"
  >
    <div class="w-full lg:w-1/2 xl:h-[80vh] relative xl:top-[25vh] z-[2]">
      <h1
        class="text-4xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl mt-24 text-center lg:text-start"
      >
        PORTFOLIO
      </h1>
      <h2 class="text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl">
        Antò Menghi
      </h2>
      <h3 class="text-lg xl:text-xl 2xl:text-2xl">alias antocreadev</h3>
      <p class="text-base text-justify">
        Développeur fullstack & Creative technologist.
      </p>

        <p class="text-base text-justify">Lier l'art et l'informatique pour rendre le monde plus beau et intelligent.</p>
    </div>
  </section>

  <!-- PROJETS -->
  <section class="pr-[5vw] pl-[5vw] bg-projects">
    <h1
      class="text-4xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl mt-24 text-center"
    >
      PROJETS
    </h1>

    <!-- 1 -->
    <div class="projects_all">
      <div class="p-7">
        <div
          class="card w-[19rem] xl:w-[32rem] lg:w-[25rem] md:w-[43rem] sm:w-[35rem] bg-base-100 shadow-xl cardColor"
        >
          <figure class="min-w-[100%] max-w-[100%] min-h-[200px] max-h-[200px]">
            <img
              src={`/img/heroImg/${projet1[0].frontmatter.heroImg}`}
              alt="Shoes"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title line-clamp-1">{`${projet1[0].frontmatter.title}`}</h2>
            <p class="text-justify overflow-hidden line-clamp-4">
              {`${projet1[0].frontmatter.description}`}
            </p>
            <div class="card-actions justify-end">
              <a
                href={projet1[0].url}
                class="btn btn-primary border-none"
                style="background-color: #ff824b; ">Voir plus</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- 2 -->
      <div class="p-7">
        <div
          class="card w-80 xl:w-[32rem] lg:w-[25rem] md:w-[43rem] sm:w-[35rem] bg-base-100 shadow-xl"
        >
          <figure class="min-w-[100%] max-w-[100%] min-h-[200px] max-h-[200px]">
            <img
              src={`/img/heroImg/${projet2[0].frontmatter.heroImg}`}
              alt="Shoes"
            />
          </figure>
          <div class="card-body rounded-b-xl cardColor">
            <h2 class="card-title line-clamp-1">{`${projet2[0].frontmatter.title}`}</h2>
            <p class="text-justify overflow-hidden line-clamp-4">
              {`${projet2[0].frontmatter.description}`}
            </p>
            <div class="card-actions justify-end">
              <a
                href={projet2[0].url}
                class="btn btn-primary border-none"
                style="background-color: #ff824b; ">Voir plus</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- 3 -->
      <div class="p-7">
        <div
          class="card w-80 xl:w-[32rem] lg:w-[25rem] md:w-[43rem] sm:w-[35rem] bg-base-100 shadow-xl"
        >
          <figure class="min-w-[100%] max-w-[100%] min-h-[200px] max-h-[200px]">
            <img
              src={`/img/heroImg/${projet3[0].frontmatter.heroImg}`}
              alt="Shoes"
            />
          </figure>
          <div class="card-body rounded-b-xl cardColor">
            <h2 class="card-title line-clamp-1">{`${projet3[0].frontmatter.title}`}</h2>
            <p class="text-justify overflow-hidden line-clamp-4">
              {`${projet3[0].frontmatter.description}`}
            </p>
            <div class="card-actions cardColor justify-end">
              <a
                href={projet3[0].url}
                class="btn btn-primary border-none"
                style="background-color: #ff824b; ">Voir plus</a
              >
            </div>
          </div>
        </div>
      </div>

      <!-- 4 voir plus -->
      <div class="p-7">
        <div
          class="card-body cardColor w-80 xl:w-[32rem] lg:w-[25rem] md:w-[43rem] sm:w-[35rem] bg-base-100 shadow-xl h-[28rem] flex flex-col justify-center items-center rounded-2xl"
        >
          <a href="projects">
            <div class="flex flex-col justify-center items-center">
              <svg
                style="fill: #B8BDC3;"
                xmlns="http://www.w3.org/2000/svg"
                height="48"
                viewBox="0 96 960 960"
                width="48"
                ><path d="m304 974-56-57 343-343-343-343 56-57 400 400-400 400Z"
                ></path>
              </svg>
              <p>Voir plus</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>


  <!-- <section id="skills" class="pr-[5vw] pl-[5vw] mt-[10vh] w-full">
    <h1
      class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl text-center"
    >
      COMPÉTENCES
    </h1>

    <RadarChartfrom client:only="react" />
  </section> -->

  <!-- ABOUT ME -->

  <section id="about" class="pr-[5vw] pl-[5vw] w-full">
    <h1
      class="relative text-4xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl mt-24 text-center mb-4"
    >
      À PROPOS
      <img
        class="absolute lg:hidden imgMain z-[-100] lg:z-[100] opacity-50 lg:opacity-100 top-[-100px] left-[160px]"
        src="img/home/rond.webp"
        alt=""
      />
    </h1>
    <div class="block lg:flex
    justify-center items-center">
      <img class="hidden lg:block w-1/2" src="img/home/rond.webp" alt="" />
      <p class="w-full text-justify lg:w-1/2 mb-12 lg:mb-4">
        Je suis Anthony MENGHI, actuellement inscrit en troisième année de licence en Sciences pour l'Ingénieur (SPI) avec une spécialisation en Informatique.
        <br/>
        Mon parcours académique et professionnel est dédié au développement informatique, avec une passion prononcée pour le développement web et d'applications. 
        <br />
        J'ai acquis des compétences approfondies à la fois en développement front-end et en développement back-end.
        <br /> 
        Mon intérêt va au-delà du code, et englobe des domaines variés tels que les médias interactifs, les algorithmes, les structures de données, les réseaux et l'intelligence artificielle.
        <br />
        Mon expérience professionnelle précédente en tant que développeur full stack junior m'a permis de mettre en pratique mes compétences et de développer une solide compréhension des besoins du marché.
        <br />
        Je me décrirais comme étant sérieux, déterminé et constamment avide d'apprendre, cherchant sans cesse à me perfectionner dans le monde en constante évolution de la technologie.
        <br />



      </p>

    </div>
    <div class="flex justify-end w-full">
      <div
      class="flex justify-around items-center w-full
      lg:w-1/2
      mb-8
      "
      >
        <Mail />
        <Github />
        <Instagram />
        <Twitter />
      </div>
    </div>
  </section>


  <!-- <section id="contact" class="pr-[5vw] pl-[5vw] w-full">
    <h1
      class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl text-center"
    >
      Contact
    </h1>

    <svg
      style="fill: #B8BDC3;"
      xmlns="http://www.w3.org/2000/svg"
      height="48"
      viewBox="0 -960 960 960"
      width="48"
      ><path
        d="M140-160q-24 0-42-18t-18-42v-520q0-24 18-42t42-18h680q24 0 42 18t18 42v520q0 24-18 42t-42 18H140Zm340-302L140-685v465h680v-465L480-462Zm0-60 336-218H145l335 218ZM140-685v-55 520-465Z"
      ></path></svg
    >
  </section> -->
  <!-- <TestReact client:load /> -->

  <style>
    .projects_all {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    @media (orientation: landscape) {
      .projects_all::after {
        /* content: "";
    flex: auto; */
      }
    }

    @media (min-width: 640px) {
      .projects_all {
        justify-content: center;
      }
    }
    @media (orientation: portrait) {
      .projects_all {
        justify-content: center;
      }
    }
  </style>
</Layout>
