---
const posts = await Astro.glob("./projects/*.md");
import Layout from "../layouts/global.layout.astro";

import ProjectAll from "../components/projectAll/projectAll";
---

<Layout>
  <section
    style={{
      backgroundImage: `url("/img/home/projetcs50.webp")`,
      backgroundSize: "cover",
      backgroundPosition: "right",
      backgroundRepeat: "no-repeat",
    }}
  >
    <h1
      class="text-5xl sm:text-5xl md:text5xl lg:text-6xl xl:text-7xl 2xl:text-7xl mt-20 text-center"
    >
      Projets
    </h1>
    <ProjectAll client:load data={posts} />
  </section>
</Layout>

<!-- save -->

<!-- <section class="pl-[5vw] pr-[5vw] flex justify-center flex-col width-full">
  <p>Projets :</p>
  <style>
    .projects_all {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    .projects_all::after {
      content: "";
      flex: auto;
    }
  </style>
  <div class="projects_all">
    {
      posts.map((post) => (
        <div class="p-7">
          <div class="card w-80 bg-base-100 shadow-xl">
            <figure class="min-w-[100%] max-w-[100%] min-h-[200px] max-h-[200px]">
              <img
                src={`/img/heroImg/${post.frontmatter.heroImg}`}
                alt={`${post.frontmatter.description}`}
              />
            </figure>
            <div class="card-body">
              <h2 class="card-title">{`${post.frontmatter.title}`}</h2>
              <p class="text-justify overflow-hidden line-clamp-4">
                {post.frontmatter.description}
              </p>
              <div class="card-actions justify-end">
                <a href={post.url} class="btn btn-primary">
                  Voir plus
                </a>
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section> -->
